@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --font-family: "Inter", sans-serif; /* Default */
  --primary-color: #1d4ed8; /* Default Blue */
  --secondary-color: #f97316; /* Default Orange */
  --tertiary-color: #10b981; /* Default Green */
}

body {
  font-family: var(--font-family);
}